<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Payroll</title>

    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/bootstrap-grid.min.css")
    @Styles.Render("~/Content/css/font-awesome/4.5.0/css/font-awesome.min.css")

    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <!-- Polyfill(s) for older browsers -->
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    @*<script src="~/Content/js/jquery-1.11.3.min.js"></script>*@
    @Scripts.Render("~/Content/js/jquery-1.11.3.min.js")
    <script>var jquery_1_11_3_min_p = jQuery.noConflict();</script>
    @Scripts.Render("~/Content/js/jquery-2.2.3.min.js")
    <script>var jquery_2_2_3_min_p = jQuery.noConflict();</script>
    @Scripts.Render("~/Content/js/bootstrap.min.js")
    <script>var bootstrap_min_js = jQuery.noConflict();</script>
    @Scripts.Render("~/Content/js/script.js")
    <script src="~/Content/js/ag-grid-community.min.noStyle.js"></script>
    <script src="~/Content/js/jquery-ui.js"></script>
    <script>var jquery_1_12_1_min_p = jQuery.noConflict();</script>
    <link href="~/Content/css/ag-grid.css" rel="stylesheet" />
    <link href="~/Content/css/ag-theme-balham.css" rel="stylesheet" />

    <script src="/systemjs.config.js"></script>


    <script>
        //System.import('app/main.js').catch(function (err) { console.error(err); });
    </script>
    <script>
        jquery_1_11_3_min_p(window).load(function () {
            //  alert("window load occurred!");
            var color = window.localStorage.getItem('color-key');
            // alert(color);
            jquery_1_11_3_min_p('body').addClass(color);
        });
        jquery_1_11_3_min_p(document).ready(function () {
            jquery_1_11_3_min_p(".spinner").click(function () {
                jquery_1_11_3_min_p(".color-picker").toggleClass("color-spinner");
            });

            jquery_1_11_3_min_p('.red').click(function () {
                jquery_1_11_3_min_p('body').removeClass().addClass('red');
                localStorage.setItem('color-key', 'red');
            });
            jquery_1_11_3_min_p('.blue').click(function () {
                jquery_1_11_3_min_p('body').removeClass().addClass('blue');
                localStorage.setItem('color-key', 'blue');
            });
            jquery_1_11_3_min_p('.black').click(function () {
                jquery_1_11_3_min_p('body').removeClass().addClass('black');
                localStorage.setItem('color-key', 'black');
            });
            jquery_1_11_3_min_p('.orange').click(function () {
                jquery_1_11_3_min_p('body').removeClass().addClass('orange');
                localStorage.setItem('color-key', 'orange');
            });
            jquery_1_11_3_min_p('.purple').click(function () {
                jquery_1_11_3_min_p('body').removeClass().addClass('purple');
                localStorage.setItem('color-key', 'purple');
            });
            jquery_1_11_3_min_p('.royal-blue').click(function () {
                jquery_1_11_3_min_p('body').removeClass().addClass('royal-blue');
                localStorage.setItem('color-key', 'royal-blue');
            });
            jquery_1_11_3_min_p('.default-color').click(function () {
                jquery_1_11_3_min_p('body').removeClass();
                localStorage.removeItem('color-key', 'royal-blue');
            });

        });

    </script>
    <script>
        bootstrap_min_js(document).ready(function () {


            jquery_1_11_3_min_p("#close").click(function () {

                bootstrap_min_js("#savePopup").dialog('close');
            });
            jquery_1_11_3_min_p("#no").click(function () {

                bootstrap_min_js("#deletePopup").dialog('close');
            });

            jquery_1_11_3_min_p("#close1").click(function () {

                bootstrap_min_js("#savePopup").dialog('close');
            });

            jquery_1_11_3_min_p(".icon").click(function () {
                jquery_1_11_3_min_p(".templateBg").removeClass("ms");
                jquery_1_11_3_min_p(".icon").toggleClass("active");
                jquery_1_11_3_min_p(".templateBg").toggleClass("sidemenu");


                jquery_1_11_3_min_p("#full-content").toggleClass('col-md-12 col-lg-12 ');
                //            jquery_1_11_3_min_p("#full-content").toggleClass('col-12 col-12');
            });


        })

    </script>
    <script>

        jquery_1_11_3_min_p(document).ready(function () {

            jquery_1_11_3_min_p('.dropdown-submenu a.test').on("click", function (e) {
                jquery_1_11_3_min_p(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
            jquery_1_11_3_min_p('.vendorGrid tbody').on('click', 'tr', function () {


                jquery_1_11_3_min_p(this).toggleClass("selected");
                //                 var dad = jquery_1_11_3_min_p(this).parent().parent();
                //                 dad.find('label').show();
                //                 dad.find('input[type="text"]').hide();

            });
        });

    </script>
</head>
<body>
    <div ng-app="myapp">
        <div>
           
            <div class="container-fluid">
                <div class="color-picker">
                    <div class="color-box">
                        <div class="default-color">Default theme</div>
                        <span class="red"></span>
                        <span class="royal-blue"></span>
                        <span class="blue"></span>
                        <span class="orange"></span>
                        <span class="purple"></span>
                        <span class="black"></span>
                    </div>
                    <span class="spinner"><i class="fa fa-cog  fa-2x fa-fw"></i></span>
                </div>
                <div class="row">
                    <div class="col-8 col-sm-4 col-md-3 col-lg-2 templateBg navHeight p-0 mobileNav ms">
                        <div class="icon active ">
                            <div class="hamburger"></div>
                        </div>

                        <div class="smLogo"><img src="~/Content/images/sm-logo.png" alt="" /></div>
                        <div class="navigation">
                            <div class="scrollbar" id="scroll-style1">
                                <nav class="navbar p-0">
                                    <ul class="navbar-nav">
                                        <div class="dropdown">

                                          <ul class="dropdown-menu show">
                                            <li><i class="fa fa-tachometer arrow"></i>@Html.ActionLink("Dashboard", "Dashboardfinal", "Home")</li>
                                            <li class="nav-item"><i class="fa fa-home arrow"></i>@Html.ActionLink("Home", "HRAreaPage", "Home")</li>
                                            @*@Html.ActionLink("HRAreaPage", "HRAreaPage", "Home");*@
                                            <li class="dropdown-submenu">
                                              <a class="test nav-link"><i class="fa fa-user arrow"></i>Human Resources   <i class="fa fa-caret-down" style=""></i></a>
                                              <ul class="dropdown-menu show">

                                                <li><i class="fa fa-building arrow"></i>@Html.ActionLink("Company", "Company", "HR")</li>
                                                <li><i class="fa fa-map-marker arrow"></i>@Html.ActionLink("Location", "Location", "Home")</li>
                                                <li><i class="fa fa-sitemap arrow"></i>@Html.ActionLink("Department", "Department", "HR")</li>
                                                <li><img src="~/Content/images/id-card_icon.png" class="arrow" />@Html.ActionLink("Designation", "Designation", "HR")</li>
                                                <li><img src="~/Content/images/skill_icon.png" class="arrow" />@Html.ActionLink("Skills", "Skills", "HR")</li>
                                                <li><i class="fa fa-user arrow"></i>@Html.ActionLink("Employee", "Employees", "HR")</li>
                                                <li class="dropdown-submenu">
                                                  <a class="test nav-link" href="#"><img src="~/Content/images/recruitment_icon.png" class="arrow" />Recruitment    <i class="fa fa-caret-down" style=""></i></a>
                                                  <ul class="dropdown-menu show">
                                                    <li><img src="~/Content/images/id-card_icon.png" class="arrow" />@Html.ActionLink("Requisition", "Requisition", "HR")</li>
                                                    <li><i class="fa fa-user arrow"></i>@Html.ActionLink("Applicants", "Requisition", "HR")</li>
                                                  </ul>
                                                </li>
                                                <li><img src="~/Content/images/leave_management-icon.png" class="arrow" />@Html.ActionLink("Leave Type", "LeaveType", "HR")</li>
                                                <li><img src="~/Content/images/leave_management-icon.png" class="arrow" />@Html.ActionLink("Leave Employee", "LeaveEmployee", "HR")</li>
                                                <li><a class="nav-link" tabindex="-1" href="#"><i class="fa fa-users arrow"></i>Team</a></li>
                                                <li><a class="nav-link" tabindex="-1" href="#"><img src="~/Content/images/approval_icon.png" class="arrow" />Approval Process</a></li>
                                                <li><a class="nav-link" tabindex="-1" href="#"><img src="~/Content/images/appraisal_icon.png" class="arrow" />Appraisal</a></li>
                                                <li><img src="~/Content/images/request_icon.png" class="arrow" />@Html.ActionLink("Employee Doc Master", "EmployeeDocMaster", "Home")</li>
                                              </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                              <a class="test nav-link" tabindex="-1" href="#"><i class="fa fa-credit-card arrow" style="font-size:14px !important"></i>Payroll    <i class="fa fa-caret-down" style=""></i> </a>
                                              <ul class="dropdown-menu show">
                                                <li><img src="~/Content/images/earning_icon.png" class="arrow" />@Html.ActionLink("Earnings", "setup", "PR")</li>
                                                <li><img src="~/Content/images/deduction_icon.png" class="arrow" />@Html.ActionLink("Deductions", "setup", "PR")</li>
                                                <li><img src="~/Content/images/paySlab_icon.png" class="arrow" />@Html.ActionLink("Pay Slab", "setup", "PR")</li>
                                                <li><i class="fa fa-money arrow"></i>@Html.ActionLink("Pay Cycle", "Paycycle", "PR")</li>
                                                <li><img src="~/Content/images/payStructure_icon.png" class="arrow" />@Html.ActionLink("Pay Structure", "setup", "PR")</li>
                                                <li><img src="~/Content/images/payday_icon.png" class="arrow" />@Html.ActionLink("Pay day", "Payday", "PR")</li>
                                              </ul>
                                            </li>


                                            <li class="dropdown-submenu">
                                              <a class="test nav-link" tabindex="-1" href="#"><i class="fa fa-credit-card arrow" style="font-size:14px !important"></i>Payroll Setup   <i class="fa fa-caret-down" style=""></i> </a>
                                              <ul class="dropdown-menu show">
                                                <li><img src="~/Content/images/payday_icon.png" class="arrow" />@Html.ActionLink("Employee Pay Elements", "EmpPayElements", "PayrollSetup1")</li>
                                                <li><img src="~/Content/images/payday_icon.png" class="arrow" />@Html.ActionLink("Pay Group", "PayGroup", "PayrollSetup1")</li>
                                                <li><img src="~/Content/images/payday_icon.png" class="arrow" />@Html.ActionLink("Pay Element Code", "PayElementCode", "PayrollSetup1")</li>
                                                <li><img src="~/Content/images/payday_icon.png" class="arrow" />@Html.ActionLink("Salary Plan", "SalaryPlan", "PayrollSetup1")</li>
                                                <li><img src="~/Content/images/payday_icon.png" class="arrow" />@Html.ActionLink("Salary Plan Pay Element", "SalaryPlanPayElement", "PayrollSetup1")</li>
                                                <li><img src="~/Content/images/payday_icon.png" class="arrow" />@Html.ActionLink("Benefits", "Benefits", "PayrollSetup1")</li>
                                                <li><img src="~/Content/images/payday_icon.png" class="arrow" />@Html.ActionLink("Salary Plan Benefits", "SalaryPlanBenefits", "PayrollSetup1")</li>

                                              </ul>
                                            </li>

                                          </ul>
                                        </div>
                                        <li class="nav-item"><i class="fa fa-sign-out  arrow"></i>@Html.ActionLink("Exit Management", "ExitManagement", "HR")</li>
                                        <li class="nav-item">
                                            <i class="fa fa-sign-out  arrow"></i>@Html.ActionLink("Commodities", "Commodities", "HR")
                                            <ul class="dropdown-menu show">
                                                <li><img src="/Content/images/request_icon.png" class="arrow">@Html.ActionLink("Item Master", "ItemMaster", "Home")</li>
                                            </ul>
                                        </li>
                                        <li class="nav-item"><i class="fa fa-sign-out  arrow"></i>@Html.ActionLink("Complaint/Grievance", "ComplaintGrievance", "HR")</li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        @*@Html.ActionLink("HRAreaPage", "HRAreaPage", "Home");*@
                    </div>
                    @*<div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>*@
                    @*<div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Service", "Service", "Home")</li>
                                <li>@Html.ActionLink("Sales", "Sales", "Home")</li>
                            </ul>
                        </div>*@


                    <div class="col-12 col-sm-12 col-md-9 col-lg-10 p-0" id="full-content">
                        <div class="topNav clearfix">
                            <div class="show pull-right infoCon">
                                <div class="headListing">
                                    <div id="notification" class="pr-2">
                                        <span class="p1 fa-stack fa-1x has-badge" data-count="4">
                                            <i class="p3 fa fa-bell fa-stack-1x xfa-inverse" data-count="4b"></i>
                                        </span>
                                    </div>
                                    <div class="form-group flag">
                                        <div class="drop-down">
                                            <select name="options" id="ddlMCountry">
                                                <option value="EN">EN </option>
                                                <option value="HI">HI</option>
                                                <option value="MR">MR </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="drop-down">
                                            <select class="form-control" id="company" name="company">
                                                <option>Company Name</option>
                                                <option>Company 1</option>
                                                <option>Company 2</option>
                                                <option>Company 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="profileDropdown">
                                    <div class="dropdown">
                                        <div class="dropbtn profileCon"><img src="~/Content/images/profile-img1.png" alt="profile" /></div>
                                        <a data-toggle="dropdown" href="#" class="dropdown-toggle no-padding dms-blue">
                                            <span class="user-info"> Welcome User</span>
                                        </a>
                                        <input type="button" onclick="myFunction()" class="dropbtn hidebtn" />
                                        <div id="myDropdown" class="dropdown-content">
                                            <a href="#" onclick="changePwdPopUp()"><i class="logoutdiv ace-icon fa fa-key" aria-hidden="true"></i><span class="logoutcolor">Change Password</span> </a>
                                            <a href="#" onclick="Logout()"><i class="logoutdiv ace-icon fa fa-power-off"></i><span class="logoutcolor">Logout</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @RenderBody()
               
                    </div>

                </div>

                <div class="container body-content">


                    <footer>
                        <div class="pull-left copyRight">
                            <p>Enterprise Resource Planning Application ©2018</p>
                        </div>
                        <div class="pull-right companyLogos">
                            <img src="~/Content/images/AMY-logo.png" alt="AMY Softech" class="comlogo" />
                            <img src="~/Content/images/iace-logo.png" alt="IACE" />
                            <img src="~/Content/images/Yoeki-logo.png" alt="Yoeki" />
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
